DOMAIN_1="cms.waveservice.app"
DOMAINTARGET_1="http://cms_waveservice_app"
CERTBOTEMAIL_1="support@waveservice.app"
CORSALLOWEDORIGIN_1="https://cms.waveservice.app/ localhost"
DOMAIN_1_LOCATION_1="office"
DOMAIN_1_LOCATION_1_TARGET="http://domain_1_target"

DOMAIN_2="kibana.waveservice.app"
DOMAINTARGET_2="http://kibana_waveservice_app:5601"
CERTBOTEMAIL_2="support@waveservice.app"
CORSALLOWEDORIGIN_2="https://kibana.waveservice.app/ localhost"


DOMAIN_3="site.waveservice.app"
DOMAINTARGET_3="/var/www/html/site.waveservice.app"
CERTBOTEMAIL_3="support@waveservice.app"
CORSALLOWEDORIGIN_3="https://site.waveservice.app/ localhost"
DOMAIN_3_LOCATION_1="office"
DOMAIN_3_LOCATION_1_TARGET="http://domain_1_target"


CERTBOT_TEST_CERT=0
CERTBOT_RSA_KEY_SIZE=4096
NGINX_UPLOADSIZE_MAX=15M