version: "3.7"

services:
  nginx:
    build: ./nginx
    image: nginx
    env_file:
      - ./config.env
    volumes:
      - static_sites:/var/www/html
      - letsencrypt_certs:/etc/letsencrypt
      - certbot_acme_challenge:/var/www/certbot
      - nginx_conf:/etc/nginx/
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped

  proxy_certbot:
    build: ./certbot
    image: proxy_certbot
    env_file:
      - ./config.env
    volumes:
      - letsencrypt_certs:/etc/letsencrypt
      - certbot_acme_challenge:/var/www/certbot

  proxy_cron:
    build: ./cron
    image: proxy_cron
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./:/workdir:ro
    restart: unless-stopped

volumes:
  letsencrypt_certs:
  certbot_acme_challenge:
  nginx_conf:
  static_sites:
    external: true

networks:
  default:
    name: onlinesales-network
    external: true
    